.stmbody{
    /*width: 960px;*/
    position: relative;
    background: #fff;
    margin: 0 auto;
    padding: 90px 0 0 0;
}

article{
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f8f8f8;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.stm-subfoot{
    padding: 0 !important;
    border: 0 !important;
    height: 50px !important;
    background: #f0f0f0 !important;
    margin-top: 20px;
    height: 160px;
    background-image: none !important;
    position: relative !important;
}

.stm-footer {
    clear:both;
    margin:0 auto;
    position: relative;
    right: 0;
    left:  0;
    bottom: 0;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    color: #777;
    height: 170px;
    background-color: #2f353e;
    background-image: none;
}

.stm-footerline{
    margin-top: 18px !important;
    margin-bottom: 18px !important;
    height: 1px !important;
    background: #414853 !important;
}

.highlight_white {
    padding: 9px 14px;
    margin-bottom: 14px;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.boxcomplex{
    margin: 5px 5px 5px 5px;
    border: 1px solid #e1e1e8;
    border-radius: 5px;
}


.page-subject {
    padding-bottom: 9px;
    margin: 10px auto 20px auto;
    border-bottom: 2px solid #eee;
}

.stm_row{
    right: 0;
    left:  0;
    bottom: 0;
    background-color: #666;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    height: 100px;
}
