<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jui.stm.dao.MainDao">

    <select id="getAllplayer" resultType="int">
          select count(*)
          from players
          where teamid=(
          select  teamid from teams where userkey = (
				select userkey
                from users
                where userid=#{param1}
				)
          )
       </select>


</mapper>